/* -------------Event Template style------------- */

#general-container{
    width: 90%;
    background-color: tomato;
    margin: auto;
}
#event-header{
    background-color: violet;
} 
#event-container-main-image{
    margin-top: 2rem;
    display: block;
    position: relative;
}
/* image-with-text */
#event-main-image{
    float: left;
}
#event-info{
    height: 100%;
    background-color: chartreuse;
}
#event-description{
    width: 60%;
    clear: left;
    text-align: justify;
}