
#mainpage1{
    position: relative;
    /* width: 70%; */
    display: block;
    margin: auto;
    background-color: salmon;
}

.text-on-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: cadetblue;
}
.text-on-image > h1 {
    font-size: 5rem;
}
.button{
    text-align: center;
    position: absolute;
    background-color: red;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1%;
}
#mainpage2{
    position: relative;
    /* width: 70%; */
    background-color:blue;
    margin: auto;
    text-align: center;
}
#mainpage2 > div{
    width: 70%;
    background-color: brown;
    margin: auto;
}
#mainpage2 > div > h1{
    text-align: left;
    margin-left: 1rem;
}
#mainpage2 > div > p{
    text-align: center;    
}

#mainpage3{
    position: relative;
    /* width: 70%; */
    display: block;
    margin: auto;
    background-color: green;
}
#mainpage4{
    background-color: yellow;
    display: block;
    position: relative;
    text-align: center;
}
.content-image-down-text{
    background-color: blue;
    max-width: 10rem;
    display: inline-block;
    text-align: center;
    margin-left: 4rem;
    margin-right: 4rem;
}