/* General */
@font-face{
	font-family: Montserrat-Regular;
	src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face{
	font-family: Montserrat-Bold;
	src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

*{
	font-family: Montserrat-Regular;
	font-weight: normal;
	color: black;
	size: 12px;
}
h1{
	font-family: Montserrat-Bold;
	font-weight: bold;
	color: #a10600;
}
h2{
	font-family: Montserrat-Bold;
	font-weight: bold;
	color: #a10600 ;
}
h3{
  font-family: Montserrat-Bold;
  font-weight: bold;
  color: black ;
}
p{
	font-family: Montserrat-Regular;
	font-weight: normal;
	color: black;
	size: 12px;
}
.social_icons{
	font-size: 40px;
	color: #a10600;
}
.social_icons:hover{
	color: #870500;
}
a:not(nav){
  color: #a10600;
}
a:not(nav):hover{
  color: #870500;
}

.btn.btn-primary, body .btn-primary:not(:disabled):not(.disabled):active{
	background-color: #a10600;
	border-color: #a10600;
}
.btn.btn-primary:hover{
	background-color: #870500;
	border-color: #870500;
}
.btn.btn-primary:focus{
	background-color: #870500;
  border-color: #870500;
  box-shadow: 0 0 0 0.2rem rgb(237, 8, 0,0.25);
}
.btn.btn-primary:not(:disabled):not(.disabled):active:focus{
  box-shadow: 0 0 0 0.2rem rgb(237, 8, 0,0.25);
}

#login_button{
	margin-right: 30px;
}
@media (max-width: 768px){
	#login_button{
		margin-bottom: 1rem;;
	}
}

#register_button{
	margin-right: 80px;
	
}

.head {
	background-color: white; 
}

form .form-control:focus{
	border-color: #ED0800;
	box-shadow: 0 0 0 0.2rem rgb(237, 8, 0,0.25);
}
/* Home */
/* Merch */
/* Events */
/* About us */
.about_section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.about_in_section{
    margin-top: 1.5rem
}
.asoc_card{
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.asoc_card:hover{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}
.asoc_card p{
    color: black;
    text-decoration: none;
}
.rrss_icon_section{
    font-size: 50px;
}

.rrss_icon_section-insta{
    color: #fd1d1d;
}
.rrss_icon_section-tw{
    color: #00acee
}
.rrss_icon_section-disc{
    color: #7289da
}
.rrss_icon_section-mail{
    color: purple;
}
/* Contact */
#map {
    margin-top: 1.5rem;
    height: 600px;
    width: 100%;
	margin-bottom: 1rem;
	border-radius: 10px;
}
.contact_address{
    margin-top: 4rem;
}
.contact_below{
    margin-top: 2rem;
}
/* Login */
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
/* Register */
