<div id="dashboard_body" class="container-fluid">
	<div class="row">
		<nav class="col-md-2 d-none d-md-block bg-light sidebar">
			<div class="sidebar-sticky">
				<ul class="nav flex-column dash_menu">
					<li class="nav-item">
						<a id="dash_events" class="nav-link active" (click)="changeSection('events')">
							<span data-feather="calendar"></span>
							Eventos
						</a>
					</li>
					<li class="nav-item">
						<a id="dash_merch" class="nav-link" (click)="changeSection('merch')">
							<span data-feather="dollar-sign"></span>
							Merch
						</a>
					</li>
					<li class="nav-item">
						<a id="dash_admin" class="nav-link" (click)="changeSection('users')">
							<span data-feather="users"></span>
							Gestiones de admin
						</a>
					</li>
					<li class="nav-item">
						<a id="dash_event-form" class="nav-link">
							<span data-feather="calendar"></span>
							Crear evento
						</a>
					</li>
					<li class="nav-item">
						<a id="dash_merch-form" class="nav-link">
							<span data-feather="calendar"></span>
							Subir merchandaising
						</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<app-events-dash *ngIf="dashSection == 'events'"></app-events-dash>
		<app-merch-dash *ngIf="dashSection == 'merch'"></app-merch-dash>
		<app-users-dash *ngIf="dashSection == 'users'"></app-users-dash>
		
	</div>
</div>