<div id="dashboard_body" class="container-fluid">
	<div class="row">
		<nav class="col-md-2 d-none d-md-block bg-light sidebar">
			<div class="sidebar-sticky">
				<ul class="nav flex-column dash_menu">
					<li class="nav-item">
						<a id="dash_events" class="nav-link active" [ngClass]="{'active': dashSection == 'events'}" (click)="changeSection('events')">
							<fa-icon [icon]="faIcons.events"></fa-icon>
							Eventos
						</a>
					</li>
					<li class="nav-item">
						<a id="dash_merch" class="nav-link" [ngClass]="{'active': dashSection == 'merch'}" (click)="changeSection('merch')">
							<fa-icon [icon]="faIcons.merch"></fa-icon>
							Merch
						</a>
					</li>
					<li class="nav-item">
						<a id="dash_admin" class="nav-link" [ngClass]="{'active': dashSection == 'users'}" (click)="changeSection('users')">
							<fa-icon [icon]="faIcons.users"></fa-icon>
							Gestiones de admin
						</a>
					</li>
					<li class="nav-item">
						<a id="dash_event-form" class="nav-link">
							<fa-icon [icon]="faIcons.events"></fa-icon>
							Crear evento
						</a>
					</li>
					<li class="nav-item">
						<a id="dash_merch-form" class="nav-link">
							<fa-icon [icon]="faIcons.merch"></fa-icon>
							Subir merchandaising
						</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<app-events-dash class="col-md-9 ml-sm-auto col-lg-10 px-4" *ngIf="dashSection == 'events'"></app-events-dash>
		<app-merch-dash class="col-md-9 ml-sm-auto col-lg-10 px-4" *ngIf="dashSection == 'merch'"></app-merch-dash>
		<app-users-dash class="col-md-9 ml-sm-auto col-lg-10 px-4" *ngIf="dashSection == 'users'"></app-users-dash>
		
	</div>
</div>