<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <img class="mx-auto d-block" src="/assets/img/logo/png/logo_grande.png" width="150" height="150">
    </div>
  </div>

  <div class="row my-2">
    <div class="col-lg-8 order-lg-2">


      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        
        <li [ngbNavItem]="1">
          <a ngbNavLink>Informacion</a>
          <ng-template ngbNavContent> 
            <div class="tab-pane active" id="profile">
              <h5 class="mb-3">Información personal</h5>
              <div class="row">
                <div class="col-md-16">
                  <h6 class="col-lg-9">Nombre</h6>
                  <p class="col-lg-9">
                    {{currentUser.firstName}}
                  </p>
                  <h6 class="col-lg-9">Apellidos</h6>
                  <p class="col-lg-9">
                    {{currentUser.lastName}}
                  </p>
                  <h6 class="col-lg-9">Email</h6>
                  <p class="col-lg-9">
                    {{currentUser.email}}
                  </p>
                  <h6 class="col-lg-9">Nombre de usuario</h6>
                  <p class="col-lg-9">
                    {{currentUser.name}}
                  </p>
                  <h5>Recomendacion personalizada</h5>
                  <p>Por tu actividad reciente te recomendamos eventos de <b>{{gameName}}</b></p>
                  <a routerLink="/events" [queryParams]="{id: gameId}"  class="btn btn-primary">Buscar más eventos de este tipo</a>
                  
    
                </div>
              </div>
              <!--/row-->
            </div>
          </ng-template>
        </li>
        
        <li [ngbNavItem]="2">
          <a ngbNavLink>Editar</a>
          <ng-template ngbNavContent>
            <div class="tab-pane" id="edit">
              <form role="form" action="profile" method="POST">
                <h5>Editar campos</h5>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"><b>Nombre:</b></label>
                  <div class="col-lg-9">
                    <input formControlName="firstName" class="form-control" name="firstName" type="text" value="{{currentUser.firstName}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"><b>Apellidos:</b></label>
                  <div class="col-lg-9">
                    <input formControlName="lastName" class="form-control" name="lastName" type="text" value="{{currentUser.lastName}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"><b>Email:</b></label>
                  <div class="col-lg-9">
                    <input formControlName="email" class="form-control" name="email" type="text" value="{{currentUser.email}}">
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <div class="col-lg-9">
                      <input type="reset" class="btn btn-secondary" value="Resetear">
                      <button id="edit" class="btn btn-primary" type="editProfile">Guardar Cambios</button>
                    </div>
                  </div>
                </div>
                <br>
                <br>
                <br>
                <br>
              </form>
            </div>
          </ng-template>
        </li>
      
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      
    </div>
  </div>
</div>