<div class="table-responsive" xmlns:th="http://www.w3.org/1999/xhtml">
<h5 class="mb-3">User Profile</h5>
<div class="row">
    <div class="col-md-8">
        <h6>First Name</h6>
        <p th:text="${user.firstName}"></p>

        <h6>Last Name</h6>
        <p th:text="${user.lastName}"></p>

        <h6>Email</h6>
        <p th:text="${user.email}"></p>

        <h6>Username</h6>
        <p th:text="${user.username}"></p>
    </div>
    <div class="col-md-12">
        <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Event Activity</h5>
        <table class="table table-sm table-hover table-striped">
            <tbody>
            <tr>
                <td>
                    Joined ACME Project Team in <strong>'Tournament'</strong>
                </td>
            </tr>
            <tr>
                <td>
                    Cancel participation in My Board1 in <strong>'Events'</strong>
                </td>
            </tr>
            <tr>
                <td>
                    Deleted MyBoard3 in <strong>'Events'</strong>
                </td>
            </tr>
            <tr>
                <td>
                    Joined My Board1 in <strong>'Tournament'</strong>
                </td>
            </tr>
            <tr>
                <td>
                    Deleted his post Look at Why this is.. in <strong>'Tournament'</strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>