<main role="main">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h2>Eventos por juego</h2>
	</div>

	<app-events-bar-chart width="900" height="380" class="chart my-4 w-100"></app-events-bar-chart>

	<h2>Inscripciones</h2>
	<div class="table-responsive">
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th>Event name</th>
					<th>Game</th>
					<th>User</th>
					<th>Inscription<br>name</th>
					<th>Participants<br>number</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>----</td>
					<td>----</td>
					<td>----</td>
					<td>----</td>
					<td>----</td>
				</tr>
			</tbody>
		</table>
	</div>
</main>