
<div class="container mt-2 mb-3">
    <div class="row">
        <div class="col-6 mx-auto">
            <img class="mx-auto d-block" src="assets/img/logo/png/logo_grande.png" width="150" height="150"/>
        </div>
    </div>
    
    <div class="row">
        <div class="col-6 mx-auto">
        <h1>Crear un nuevo evento</h1>
            <form class="form-horizontal"
                [formGroup]="event"
                (ngSubmit)="submit(event.value)">

                <div class="form-group">
                    <label for="name" class="register-event-form">Nombre</label>
                    <input
                        type="text"
                        formControlName="name"
                        name="name"
                        class="form-control"
                        id="register-event-name"
                        placeholder="Nombre"
                    />
                </div>



                <div class="control-group">
                    <div class="controls">
                        <button
                            id="register"
                            type="submit"
                            class="btn btn-primary">Register</button>
                    </div>
                </div>
                
               <!--<input type="hidden" name="_csrf" value="{{token}}"/>--> 


            </form>
        </div>
    </div>
</div>