<br>
<br>
<div class="container">
<div class="row">
    <div class="col-sm-12">
    <h1>
        Eventos
    </h1>
    </div>
</div>
</div>
<br>
<div class="container ml-auto">
<div class="row" id="main_row">
</div>
</div>
<div class="container text-center">
<button class="btn btn-primary" id="show_more_button" nextPage="0">Mostrar más</button>
</div>

<a routerLink="/event-template" [queryParams]="{id: 23}">Angrahoy a las 18:10</a>
<br>
<br>
<!--
<script src="/assets/js/events.js"></script>
<script src="/assets/js/show_more_events.js"></script>
-->
