<br>
<br>
<div class="events_section">
    <div class="container">
        <h1>
            Eventos
        </h1>
        <div class="row">
            <!-- body -->

            <div class='col-3 col-sm-4' *ngFor="let event of eventsList">
            <a routerLink="/event-template" [queryParams]="{id: event.id}">
                <img src = "https://localhost:8443/api/events/{{event.id}}/image"  width='300'>
                <h3 class='mt-2'> {{event.name}} </h3>
            </a> 
            <p> {{event.description}} </p>

            <!-- body -->
        </div>
    </div>
</div>
    


<div class="container text-center">
    <button class="btn btn-primary" *ngIf="this.lastPage" (click)="getNewEventsList()">Mostrar más</button>
</div>


<br>
<br>
