<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="w-100" src="assets/img/home/home_page1.jpg" alt="First slide">
    </div>
    <div class="carousel-caption mainpage1">
      <h1>Bienvenido a La Caverna Del Dragon</h1>
      <br>
      <h2>Asociación en la Univ. Rey Juan Carlos</h2>
      <br>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="w-100" src="assets/img/home/home_page2.jpg" alt="First slide">
    </div>
    <div class="carousel-caption text-mainpage1">
      <h2>Organizamos eventos y competiciones</h2>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="w-100" src="assets/img/home/home_page3.jpg" alt="First slide">
    </div>
    <div class="carousel-caption text-mainpage1">
      <h2>Contamos con más de 30 asociados permanentes</h2>
    </div>
  </ng-template>
</ngb-carousel>

<!-- Section2 text -->
<div id="mainpage2">
    <div>
    <h1 style="text-align: center;">Bienvenido a La Caverna Del Dragón</h1>
    <p>La Caverna Del Dragón es una asociación de estudiantes que surge con el ánimo de 
        aportar una perspectiva de ocio al ambiente académico del campus de Móstoles de la 
        Universidad Rey Juan Carlos. Fundada en 2011, ha dado cabida a estudiantes de diversas 
        carreras y organizado eventos de distintos tipos, todos relacionados con actividades de 
        caracter recreativo y lúdico.
    </p>
    </div>
</div><!-- /Section2 text -->

<!-- Section3 photo -->
<div id="mainpage3">
    <img class="img-fluid card-img" src="assets/img/home/home_page_wide.jpg" />
</div> <!-- /Section3 photo -->
