<!--<div id="general-container">

    <div id="merch-container-main-image" >
            {{#merch.haveImage}}	
                <img class="event-main-image img-fluid" src='/images/merchImages/image-{{merch.id}}.jpg' />
            {{/merch.haveImage}}
            
            {{^merch.haveImage}}
                <img class="event-main-image img-fluid" src='/assets/img/merch-image.png'/>
            {{/merch.haveImage}}
    </div>
    --> 
<!--
    <div id="event-info">
        <h1>{{Merch.name}}</h1>
        <div>
            <i class="fas fa-box-open"> Nombre: {{Merch.name}}</i>
            <br>				
            <i class="fas fa-cog"> Tipo: {{Merch.type.typeName}}</i>
            <br>
            <i class="fas fa-calculator"> Unidades: {{Merch.stock}}</i>
            <br>
            <i class="fas fa-percent"> Descuento: {{Merch.discount}}</i>
            <br>
            <i class="fas fa-money-bill-wave"> Precio: {{Merch.price}} euros.</i>
               <div class="control-group">
                <div class="controls">
                    <form class="form-horizontal" action="/purchaseMerch/{{id}}"  method="POST" >
                        <button id="purchase" class="btn btn-primary">Comprar</button>
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                    </form>
                </div>
            </div>
        </div>
        <p class="align-middle"></p>
    </div>

    

    <div id="event-description">
        <h2>Descripción</h2>
        <p>{{Merch.description}}</p>
    </div>
--> 
    <br>

    <div id="general-container">
        <div id="merch-container-main-image" >
                <img class="event-main-image img-fluid" src="MerchImage" />
                <img class="event-main-image img-fluid" src='assets/img/products/shirtTemplate.jpg'/>
        </div>

        <div class="event-info">
            <h1>{{Merch.name}}</h1>
            <div>
                <fa-icon [icon]="faBoxOpen"></fa-icon><i> Nombre: {{Merch.name}}</i>
                <br>				
                <fa-icon [icon]="faCog"></fa-icon><i> Tipo: Porfa</i>
                <br>
                <fa-icon [icon]="faCalculator"></fa-icon><i> Unidades: {{Merch.stock}} ud</i>
                <br>
                <fa-icon [icon]="faPercent"></fa-icon><i> Descuento: {{Merch.discount}} %</i>
                <br>
                <fa-icon [icon]="faMoneyBillWave"></fa-icon><i> Precio: {{Merch.price}} euros.</i>
                <!--<div class="control-group">
                    <div class="controls">
                        <form class="form-horizontal" action="/purchaseMerch/{{id}}"  method="POST" >
                            <button id="purchase" class="btn btn-primary">Comprar</button>
                            <input type="hidden" name="_csrf" value="{{token}}"/>
                        </form>
                    </div>
                </div>--> 
            </div>
        </div>

        <div>
            <h2>Descripción</h2>
            <p>{{Merch.description}}</p>
        </div>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
