<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 dash_page" id="merch_page">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h2>Ventas mensuales del ultimo año</h2>
	</div>

	<canvas class="my-4 w-100" id="monthlySalesChart" width="900" height="380"></canvas>

	<h2>Lista de ventas</h2>
	<div class="table-responsive">
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th>Date and hour</th>
					<th>Item name</th>
					<th>Type</th>
					<th>Price</th>
					<th>User</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>----</td>
					<td>----</td>
					<td>----</td>
					<td>----€</td>
					<td>----</td>
				</tr>
			</tbody>
		</table>
	</div>
</main>