<main role="main">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h2>Ventas mensuales del ultimo año</h2>
	</div>

	<app-merch-line-chart width="900" height="380" [data]="lastYearPurchases" class="chart my-4 w-100"></app-merch-line-chart>

	<h2>Lista de ventas</h2>
	<div class="table-responsive">
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th>Date and hour</th>
					<th>Item name</th>
					<th>Type</th>
					<th>Price</th>
					<th>User</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let purchase of purchaseList">
					<td>{{purchase.date | date:'medium'}}</td>
					<td>{{purchase.merch.name}}</td>
					<td>{{purchase.merch.type.type}}</td>
					<td>{{purchase.merch.price}}€</td>
					<td>{{purchase.user.name}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</main>