/* General */
@font-face{
	font-family: Montserrat-Regular;
	src: url(assets/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face{
	font-family: Montserrat-Bold;
	src: url(assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

*{
	font-family: Montserrat-Regular;
	font-weight: normal;
	color: black;
	size: 12px;
}
h1{
	font-family: Montserrat-Bold;
	font-weight: bold;
	color: #a10600;
}
h2{
	font-family: Montserrat-Bold;
	font-weight: bold;
	color: #a10600 ;
}
h3{
	font-family: Montserrat-Bold;
	font-weight: bold;
	color: black ;
}
h4{
	font-family: Montserrat-Bold;
	font-weight: bold;
	color: black ;
}
h5{
	font-family: Montserrat-Bold;
	font-weight: bold;
	color: #a10600 ;
}
h6{
	font-family: Montserrat-Bold;
	font-weight: bold;
	color: black ;
}
p{
	font-family: Montserrat-Regular;
	font-weight: normal;
	color: black;
	size: 12px;
}
.social_icons{
	font-size: 40px;
	color: #a10600;
}
.social_icons:hover{
	color: #870500;
}
a:not(nav){
  color: #a10600;
}
a:not(nav):hover{
  color: #870500;
}

.btn.btn-primary, body .btn-primary:not(:disabled):not(.disabled):active{
	background-color: #a10600;
	border-color: #a10600;
}
.btn.btn-primary:hover{
	background-color: #870500;
	border-color: #870500;
}
.btn.btn-primary:focus{
	background-color: #870500;
  border-color: #870500;
  box-shadow: 0 0 0 0.2rem rgb(237, 8, 0,0.25);
}
.btn.btn-primary:not(:disabled):not(.disabled):active:focus{
  box-shadow: 0 0 0 0.2rem rgb(237, 8, 0,0.25);
}

.chart{
    display: block;
}

#login_button{
	margin-right: 30px;
}
@media (max-width: 768px){
	#login_button{
		margin-bottom: 1rem;;
	}
}
.head {
	background-color: white; 
}

form .form-control:focus{
	border-color: #ED0800;
	box-shadow: 0 0 0 0.2rem rgb(237, 8, 0,0.25);
}
#header_profile_image{
	margin-left: 1rem;
}

/* Merch-form
============================================================================================ */

/* Merch-template
============================================================================================ */
#merch-container-main-image{
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    max-width: 400px;
    /* width: 60%; */
}
    /* image-with-text */
.merch-main-image{
   
}


.carousel-control-prev-icon{
    background-image: url("/assets/img/home/prevFOTO.png") !important;
    width: 50px !important;
    height: 50px !important;
    opacity: 1 ;
}
.carousel-control-next-icon{
    background-image: url("/assets/img/home/nextFOTO.png") !important;
    width: 50px !important;
    height: 50px !important;
    opacity: 1;
}


/* Categories Product css
============================================================================================ */
.product_listing_area {
    margin-bottom: 40px;
}

.p_list_text {
    border: 1px solid #cccccc;
    height: 100%;
    padding-left: 18px;
    padding-top: 25px;
}

.p_list_text h3 {
    font-size: 24px;
    color: #0b1033;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    position: relative;
    padding-bottom: 8px;
}

.p_list_text h3:before {
    content: "";
    width: 95px;
    height: 2px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #d91522;
}

.p_list_text ul {
    padding-top: 14px;
}

.p_list_text ul li a {
    font-size: 14px;
    line-height: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    letter-spacing: .35px;
    color: #0b1033;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}

.p_list_text ul li:hover a {
    color: #d91522;
}

.p_list_img {
    margin-left: -30px;
}


/* Event-template
============================================================================================ */
#hidden-element {
    display: none;
}
#general-container{
    width: 90%;
    margin: auto;
    margin-top: 2rem;
} 
#event-container-main-image{
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
     max-width: 800px;
    /* width: 60%; */
}
    /* image-with-text */
.event-main-image{
   
}
#event-info{
    /* float: left; */
    /* width: 30%; */
    padding: 1rem;
    /*background-color: chartreuse;*/
}

#event-description{
   padding: 1rem;
    clear: both;
    text-align: justify;
    /*background-color: tomato;*/
}

/* Login 
============================================================================================ */
    /* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}




