<footer class="text-light bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <img src="/assets/img/logo/png/logo_grande.png" width="150" height="150">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <form action="https://gmail.us4.list-manage.com/subscribe/post?u=cd10347d8ef1795b1334f9a0f&id=1ec05fee4a"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
          target="_blank" novalidate>
          <div class="form-group">
            <label for="emailNewsletter">Suscribete a nuestra newsletter</label>
            <input type="email" name="EMAIL" class="form-control" id="emailNewsletter"
              placeholder="Introduce tu email" required>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
              name="b_cd10347d8ef1795b1334f9a0f_1ec05fee4a" tabindex="-1" value=""></div>
          <div class="clear"><button type="submit" value="Subscribe" name="subscribe"
              class="btn btn-primary">Enviar</button></div>
        </form>
      </div>
      <div class="col-sm-4">
        <p class="text-center">Sobre nosotros</p>
      </div>
      <div class="col-sm-4">
        <p class="text-center">Contacto</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a href="https://www.instagram.com/itsdougthepug/?hl=es" target="_blank" rel="noopener noreferrer"><i
                class="fab fa-instagram social_icons"></i></a>
          </li>
          <li class="list-inline-item"><a href="https://twitter.com/lcdd_urjc" target="_blank"
              rel="noopener noreferrer">
              <i class="fab fa-twitter social_icons"></i></a>
          </li>
          <li class="list-inline-item"><a href="https://discord.gg/yYDsMhw" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-discord social_icons"></i></a><i>
          </li>
          <li class="list-inline-item"><a href="mailto:lcddoficial@gmail.com" target="_blank"
              rel="noopener noreferrer">
              <i class="fas fa-envelope social_icons"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>