<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	{{>components/html_head}}
	
</head>

<body>
  {{>components/header}}

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Sobre nosotros</h1>
      </div>
    </div>
  </div>
  <div class="container about_section">
    <div class="row">
      <div class="col-12">
        <h2>Historia</h2>
      </div>
    </div>
    <div class="row about_in_section">
      <div class="col-12">
        <p>La Caverna Del Dragón es una asociación de estudiantes que surge con el ánimo de 
          aportar una perspectiva de ocio al ambiente académico del campus de Móstoles de la 
          Universidad Rey Juan Carlos. Fundada en 2011, ha dado cabida a estudiantes de diversas 
          carreras y organizado eventos de distintos tipos, todos relacionados con actividades de 
          caracter recreativo y lúdico.
        </p>
        <p>Además de querer aportar a la universidad un valor lejano a lo académico, es firme 
          intención de La Caverna Del Dragón hacer comunidad con sus asociados, organizando eventos 
          internos, estableciendo puentes entre los miembros de la asociación y fortaleciendo relaciones 
          de amistad que durarán una vida entera. Creemos que la universidad es mucho más que estudiar 
          una carrera, y el camino que debas recorrer se hará más ameno si te acompañan amigos, estudien 
          o no tu misma carrera.
        </p>
        <p>Junto con otras asociaciones del campus de Móstoles de la URJC se ha colaborado en distintas 
          iniciativas, siendo el SpringFest la más destacable. Un evento de una semana de duración en el 
          que todos aportaban lo que mejor se les daba, consiguiendo una importante suma de dinero donada 
          a la fundación Juegaterapia.
        </p>
        <p>A día de hoy la asociación cuenta con más de 30 asociados estables y, a pesar de que muchos se 
          marchan porque su estancia en la universidad llega a fin, llegan nuevos miembros todos los años 
          con ánimo de pasarlo bien en un ambiente que en ocasiones puede ser estresante y dañino.
      </div>
    </div>
  </div>

  <div class="container about_section">
    <div class="row">
      <div class="col-12">
        <h2>Cupula directiva</h2>
      </div>
    </div>
    <div class="row about_in_section">
      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <img src="/assets/img/cupula/placeholder_user_man.png" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Presidente</p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <img src="/assets/img/cupula/placeholder_user_man.png" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Vicepresidente</p>
          </div>
          <div class="col-md-4">
            <img src="/assets/img/cupula/placeholder_user_man.png" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Secretario</p>
          </div>
          <div class="col-md-4">
            <img src="/assets/img/cupula/placeholder_user_man.png" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Tesorero</p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-2">
            <img src="/assets/img/cupula/placeholder_user_man.png" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Vocal</p>
          </div>
          <div class="col-md-2">
            <img src="/assets/img/cupula/placeholder_user_girl.jpg" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Vocal</p>
          </div>
          <div class="col-md-2">
            <img src="/assets/img/cupula/placeholder_user_girl.jpg" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Vocal</p>
          </div>
          <div class="col-md-2">
            <img src="/assets/img/cupula/placeholder_user_man.png" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Vocal</p>
          </div>
          <div class="col-md-2">
            <img src="/assets/img/cupula/placeholder_user_man.png" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Vocal</p>
          </div>
          <div class="col-md-2">
            <img src="/assets/img/cupula/placeholder_user_man.png" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Vocal</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container about_section">
    <div class="row">
      <div class="col-12">
        <h2>RRSS</h2>
      </div>
    </div>
    <div class="row text-center rrss_icon_section about_in_section">
      <div class="col-md-3">
        <a href="https://www.instagram.com/itsdougthepug/?hl=es" target="_blank" rel="noopener noreferrer"><i
            class="fab fa-instagram rrss_icon_section-insta"></i></a>
      </div>
      <div class="col-md-3">
        <a href="https://twitter.com/lcdd_urjc" target="_blank" rel="noopener noreferrer"><i
            class="fab fa-twitter rrss_icon_section-tw"></i></a>
      </div>
      <div class="col-md-3">
        <a href="https://discord.gg/yYDsMhw" target="_blank" rel="noopener noreferrer"><i
            class="fab fa-discord rrss_icon_section-disc"></i></a>
      </div>
      <div class="col-md-3">
        <a href="mailto:lcddoficial@gmail.com" target="_blank" rel="noopener noreferrer"><i
            class="fas fa-envelope social_icons rrss_icon_section-mail"></i></a>
      </div>
    </div>
  </div>

  <div class="container about_section">
    <div class="row">
      <div class="col-12">
        <h2>Otras asociaciones</h2>
      </div>
    </div>
    <div class="row text-center about_in_section">
      <div class="col-md-4">
        <div class="asoc_card">
          <a href="https://twitter.com/gorgonasmst?lang=es" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/otros/logo_gorgonas.png" width="90%">
            <p>Gorgonas</p>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="asoc_card">
          <a href="https://twitter.com/ecotopia_urjc?lang=es" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/otros/logo_ecotopia.png" width="90%">
            <p>Ecotopia</p>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="asoc_card">
          <a href="https://www.urjc.es/estudiantes-etsii/asociaciones-etsii" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/otros/logo_etsii.png" width="90%">
            <p>Otras Asociaciones de la ETSII - URJC</p>
          </a>
        </div>
      </div>
    </div>
  </div>

	{{>components/footer}}

</body>
</html>
