<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	{{>components/html_head}}
	
</head>

<body>
  {{>components/header}}

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Sobre nosotros</h1>
      </div>
    </div>
  </div>
  <div class="container about_section">
    <div class="row">
      <div class="col-12">
        <h2>Historia</h2>
      </div>
    </div>
    <div class="row about_in_section">
      <div class="col-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at arcu pharetra, consequat ante feugiat,
          scelerisque ante. Ut iaculis mi et purus convallis
          aliquet nec et ligula. Fusce condimentum risus dui, id eleifend ante ullamcorper sit amet. Donec dapibus
          porttitor faucibus. Aliquam sapien lorem, feugiat
          eu leo eget, tincidunt convallis est. Vestibulum auctor, erat nec lacinia posuere, nulla purus condimentum
          urna, a elementum orci nibh quis diam. Integer
          lobortis libero a nisl laoreet, ut convallis neque feugiat. Vivamus tempor ultrices dapibus. Etiam lobortis
          purus non iaculis fermentum. Fusce placerat
          justo et purus molestie iaculis. Morbi nulla leo, fermentum in nisl vel, tempus aliquet neque. Pellentesque
          bibendum purus sed nibh feugiat fermentum.
          Pellentesque aliquam metus ac tortor sodales, vitae egestas nibh congue. Sed vel nisi eu velit lobortis
          tempor. Etiam quis molestie nisi. Donec in metus sapien.</p>

        <p>Donec eu odio nunc. Proin volutpat eros sapien, eget vehicula augue blandit id. Donec laoreet mollis nisi,
          quis suscipit velit dapibus sit amet.
          Pellentesque accumsan, diam non tristique condimentum, massa ex ullamcorper dolor, non lobortis nunc eros in
          tortor. Cras vehicula ultrices nibh, et pharetra
          nisi dictum id. Nam vitae nisl id ante faucibus auctor ut ut eros. Vivamus efficitur facilisis nisi, id
          blandit odio consectetur et. Quisque in porta orci.
          Praesent porttitor pulvinar metus, et laoreet dolor porttitor in. Cras diam justo, cursus a vehicula nec,
          lobortis a justo. Maecenas vehicula lorem arcu, in
          posuere eros sollicitudin id. Nam blandit pharetra sapien, at ultrices dui tristique ut. In bibendum enim sit
          amet enim ornare mollis. Donec tincidunt urna
          eget erat semper, id maximus eros feugiat.</p>
      </div>
    </div>
  </div>

  <div class="container about_section">
    <div class="row">
      <div class="col-12">
        <h2>Cupula directiva</h2>
      </div>
    </div>
    <div class="row about_in_section">
      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <img src="/assets/img/cupula/placeholder_user_man.png" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Presidente</p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <img src="/assets/img/cupula/placeholder_user_man.png" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Vicepresidente</p>
          </div>
          <div class="col-md-4">
            <img src="/assets/img/cupula/placeholder_user_man.png" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Secretario</p>
          </div>
          <div class="col-md-4">
            <img src="/assets/img/cupula/placeholder_user_man.png" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Tesorero</p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-2">
            <img src="/assets/img/cupula/placeholder_user_man.png" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Vocal</p>
          </div>
          <div class="col-md-2">
            <img src="/assets/img/cupula/placeholder_user_girl.jpg" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Vocal</p>
          </div>
          <div class="col-md-2">
            <img src="/assets/img/cupula/placeholder_user_girl.jpg" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Vocal</p>
          </div>
          <div class="col-md-2">
            <img src="/assets/img/cupula/placeholder_user_man.png" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Vocal</p>
          </div>
          <div class="col-md-2">
            <img src="/assets/img/cupula/placeholder_user_man.png" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Vocal</p>
          </div>
          <div class="col-md-2">
            <img src="/assets/img/cupula/placeholder_user_man.png" class="rounded-circle" width="150" height="150" />
            <p>Nombre random</p>
            <p>Vocal</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container about_section">
    <div class="row">
      <div class="col-12">
        <h2>RRSS</h2>
      </div>
    </div>
    <div class="row text-center rrss_icon_section about_in_section">
      <div class="col-md-3">
        <a href="https://www.instagram.com/itsdougthepug/?hl=es" target="_blank" rel="noopener noreferrer"><i
            class="fab fa-instagram rrss_icon_section-insta"></i></a>
      </div>
      <div class="col-md-3">
        <a href="https://twitter.com/lcdd_urjc" target="_blank" rel="noopener noreferrer"><i
            class="fab fa-twitter rrss_icon_section-tw"></i></a>
      </div>
      <div class="col-md-3">
        <a href="https://discord.gg/yYDsMhw" target="_blank" rel="noopener noreferrer"><i
            class="fab fa-discord rrss_icon_section-disc"></i></a>
      </div>
      <div class="col-md-3">
        <a href="mailto:lcddoficial@gmail.com" target="_blank" rel="noopener noreferrer"><i
            class="fas fa-envelope social_icons rrss_icon_section-mail"></i></a>
      </div>
    </div>
  </div>

  <div class="container about_section">
    <div class="row">
      <div class="col-12">
        <h2>Otras asociaciones</h2>
      </div>
    </div>
    <div class="row text-center about_in_section">
      <div class="col-md-4">
        <div class="asoc_card">
          <a href="https://twitter.com/gorgonasmst?lang=es" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/otros/logo_gorgonas.png" width="90%">
            <p>Gorgonas</p>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="asoc_card">
          <a href="https://twitter.com/ecotopia_urjc?lang=es" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/otros/logo_ecotopia.png" width="90%">
            <p>Ecotopia</p>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="asoc_card">
          <a href="https://www.urjc.es/estudiantes-etsii/asociaciones-etsii" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/otros/logo_etsii.png" width="90%">
            <p>Otras Asociaciones de la ETSII - URJC</p>
          </a>
        </div>
      </div>
    </div>
  </div>

	{{>components/footer}}

</body>
</html>
