<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	{{>components/html_head}}
</head>

<body>
  {{>components/header}}

<div id="container404">
	<img class="img-fluid" id="image404-lcdd" src="assets/img/logo/png/logo_grande.png"/>
  <img id="image404" src="assets/img/404.png"/>
  
  <div class="col text-center container-button404">
   <a class="btn btn-primary buttonpage404" href="/">Volver a inicio</a>
   <a class="btn btn-primary buttonpage404" href="login">Iniciar sesión</a>
   <a class="btn btn-primary buttonpage404" href="register">Registrarse</a>
  </div>
</div>



  {{>components/footer}}

</body>
</html>