<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	{{>components/html_head}}
</head>

<body>
  {{>components/header}}

  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>
          Eventos
        </h1>
      </div>
    </div>
  </div>
  <br>
  <div class="container ml-auto">
    <div class="row">
      <div class="col-sm-4">
        <a href="#">
          <img src="/assets/img/events/event.jpg" width="300">
          <h3 class="mt-2">Evento 1</h3>
        </a>
        <p>Texto de ejemplo del evento número 1</p>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <img src="/assets/img/events/event.jpg" width="300">
          <h3 class="mt-2">Evento 2</h3>
        </a>
        <p>Texto de ejemplo del evento número 2</p>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <img src="/assets/img/events/event.jpg" width="300">
          <h3 class="mt-2">Evento 3</h3>
        </a>
        <p>Texto de ejemplo del evento número 3</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <a href="#">
          <img src="/assets/img/events/event.jpg" width="300">
          <h3 class="mt-2">Evento 4</h3>
        </a>
        <p>Texto de ejemplo del evento número 4</p>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <img src="/assets/img/events/event.jpg" width="300">
          <h3 class="mt-2">Evento 5</h3>
        </a>
        <p>Texto de ejemplo del evento número 5</p>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <img src="/assets/img/events/event.jpg" width="300">
          <h3 class="mt-2">Evento 6</h3>
        </a>
        <p>Texto de ejemplo del evento número 6</p>
      </div>
    </div>
    <br>
    <div class="row" id="hidden-element">
      <div class="col-sm-4">
        <a href="#">
          <img src="/assets/img/events/event.jpg" width="300">
          <h3 class="mt-2">Evento 7</h3>
        </a>
        <p>Texto de ejemplo del evento número 7</p>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <img src="/assets/img/events/event.jpg" width="300">
          <h3 class="mt-2">Evento 8</h3>
        </a>
        <p>Texto de ejemplo del evento número 8</p>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <button class="btn btn-primary" onclick="showMore()">Mostrar más</button>
  </div>
  <br>
  <br>

	{{>components/footer}}
	<script src="/assets/js/events.js"></script>
</body>
</html>