<!doctype html>
<html class="no-js" lang="" >

<head>
 {{>components/html_head}}
  <meta charset="utf-8">

</head>

<body>
	{{>components/header}}

  <br>
  <br>
  
  <div class="container center-h center-v">
    <div class="row">
      <div class="col-8">
        <img src="/assets/img/otros/log_error_polol.jpg">
      </div>
    </div>
  </div>
  
   <br>
  
  <div class="container center-h center-v">
    <div class="row">
      <div class="col-10">
         <a class="btn btn-primary" id="try_again" href="/login">LOGIN</a>
      </div>
    </div>
  </div>
 

  <br>
  <br>

   {{>components/footer}}
 
</body>

</html>