<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	{{>components/html_head}}
	 <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
	
</head>

<body>
  {{>components/header}}

  <br>
  <br>

  <!--================ Products =================-->
  <section class="products_section">
    <div class="container">
      <h1>Merchandising</h1>
      <div class="showing_fillter">
        <div class="row m0">
          <div class="first_fillter">
            <h4>Showing 1 to 4 of 40 total</h4>
          </div>
        </div>
      </div>
      <div class="two_column_product">
        <div class="row">
          <div class="col-sm-6">
            <div class="l_product_item">
              <div class="l_p_img">
                <img src="/assets/img/products/shirtTemplate.jpg" alt="lcdd shirt 1">
                <h5 class="sale">Sale:</h5>
              </div>
              <div class="l_p_text">
                <ul>
                  <li class="p_icon"><a href="#">See Details</a></li>
                  <li><a class="add_cart" href="#">Add To Cart</a></li>
                  <li class="p_icon"><a href="#">Wish List</a></li>
                </ul>
                <h4>Shirt LCDD</h4>
                <h5><del>69.00€</del> 40.00€</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="l_product_item">
              <div class="l_p_img">
                <img src="/assets/img/products/shirtTemplate.jpg" alt="lcdd shirt 2">
                <h5 class="sale">Sale:</h5>
              </div>
              <div class="l_p_text">
                <ul>
                  <li class="p_icon"><a href="#">See Details</a></li>
                  <li><a class="add_cart" href="#">Add To Cart</a></li>
                  <li class="p_icon"><a href="#">Wish List</a></li>
                </ul>
                <h4>Shirt LCDD</h4>
                <h5><del>55.00€</del> 45.00€</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="l_product_item">
              <div class="l_p_img">
                <img src="/assets/img/products/shirtTemplate.jpg" alt="lcdd shirt 3">
                <h5 class="sale">Sale:</h5>
              </div>
              <div class="l_p_text">
                <ul>
                  <li class="p_icon"><a href="#">See Details</a></li>
                  <li><a class="add_cart" href="#">Add To Cart</a></li>
                  <li class="p_icon"><a href="#">Wish List</a></li>
                </ul>
                <h4>Shirt LCDD</h4>
                <h5>80.00€</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="l_product_item">
              <div class="l_p_img">
                <img src="/assets/img/products/shirtTemplate.jpg" alt="lcdd shirt 4">
                <h5 class="sale">Sale:</h5>
              </div>
              <div class="l_p_text">
                <ul>
                  <li class="p_icon"><a href="#">See Details</a></li>
                  <li><a class="add_cart" href="#">Add To Cart</a></li>
                  <li class="p_icon"><a href="#">Wish List</a></li>
                </ul>
                <h4>Shirt LCDD</h4>
                <h5><del>90.00€ </del> 75.00€</h5>
              </div>
            </div>
          </div>
        </div>
        <br>
        <nav aria-label="Page navigation" class="pagination_area">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item next"><a class="page-link" href="#"><i class="fa fa-angle-double-right"
                  aria-hidden="true"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <!--================End  Products =================-->

  <br>
  <br>
  {{>components/footer}}

</body>
</html>
