<!doctype html>
<html class="no-js" lang="" xmlns="http://www.w3.org/1999/html">
<head>
 	<meta charset="UTF-8">
 	{{>components/html_head}}
 	<script src="assets/js/show_more_merch.js"></script>
</head>

<body>
  {{>components/header}}
<br>
<br>

<!--================ Products =================-->
<div class="products_section">
  <div class="container">
    <h1>Merchandising</h1>
    <div class="two_column_product" id="original">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="l_product_item">
            <h4>Taza LCDD</h4>
            <h5><del>12.00€</del> 10.00€</h5>
            <div class="l_p_img">
              <img src="assets/img/products/lcdd_mug.png" width="300" height="300" alt="lcdd taza">
              <h5 class="sale">Opciones:</h5>
            </div>
            <div class="l_p_text">
              <ul>
                <li class="p_icon"><a href="#">Ver Detalles</a></li>
                <li class="p_icon"><a href="merchandising-form">Añadir ejemplo</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="l_product_item">
            <h4>Chapa Negro LCDD</h4>
            <h5>4.00€</h5>
            <div class="l_p_img">
              <img src="assets/img/products/lcdd_chapa_black.png" width="300" height="300" alt="lcdd chapa black">
              <h5 class="sale">Opciones:</h5>
            </div>
            <div class="l_p_text">
              <ul>
                <li class="p_icon"><a href="#">Ver Detalles</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="l_product_item">
            <h4>Chapa Blanco LCDD</h4>
            <h5>4.00€</h5>
            <div class="l_p_img">
              <img src="assets/img/products/lcdd_chapa_white.png" width="300" height="300" alt="lcdd chapa white">
              <h5 class="sale">Opciones:</h5>
            </div>
            <div class="l_p_text">
              <ul>
                <li class="p_icon"><a href="#">Ver Detalles</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>

      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="l_product_item">
            <h4>Camisa Negra LCDD</h4>
            <h5><del>55.00€</del> 45.00€</h5>
            <div class="l_p_img">
              <img src="assets/img/products/lcdd_shirt.png" width="300" height="300" alt="lcdd shirt 4">
              <h5 class="sale">Opciones:</h5>
            </div>
            <div class="l_p_text">
              <ul>
                <li class="p_icon"><a href="#">Ver Detalles</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="l_product_item">
            <h4>Camisa mas Negra LCDD</h4>
            <h5>60.00€</h5>
            <div class="l_p_img">
              <img src="assets/img/products/lcdd_shirt.png" width="300" height="300" alt="lcdd shirt 5">
              <h5 class="sale">Opciones:</h5>
            </div>
            <div class="l_p_text">
              <ul>
                <li class="p_icon"><a href="#">Ver Detalles</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="l_product_item">
            <h4>Camisa La Mas Negra LCDD</h4>
            <h5><del>90.00€ </del> 75.00€</h5>
            <div class="l_p_img">
              <img src="assets/img/products/lcdd_shirt.png" width="300" height="300" alt="lcdd shirt 6">
              <h5 class="sale">Opciones:</h5>
            </div>
            <div class="l_p_text">
              <ul>
                <li class="p_icon"><a href="#">Ver Detalles</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
<div class="container text-center">
  <button class="btn btn-primary" onclick="showMoreMerch()">Mostrar más</button>
</div>
<!--================End  Products =================-->

<br>
<br>

  {{>components/footer}}
</body>
</html>
