<!doctype html>
<html class="no-js" lang="" xmlns="http://www.w3.org/1999/html">
<head>
 	<meta charset="UTF-8">
 	{{>components/html_head}}
 	<script src="assets/js/show_more_merch.js"></script>
</head>

<body>
  {{>components/header}}
<br>
<br>

<!--================ Products =================-->
<div class="products_section">
  <div class="container">
    <h1>Merchandising</h1>
    <div class="two_column_product" id="original">
      <div class="row" id="main_row">
        
      </div>
    </div>
  </div>
</div>
<div class="container text-center">
  <button class="btn btn-primary" id="show_more_button" nextPage="0">Mostrar más</button>
</div>
<!--================End  Products =================-->

<br>
<br>

  {{>components/footer}}
</body>
</html>