<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/assets/img/logo/png/logo16.png" sizes="16x16">
    <link rel="icon" href="../static/assets/img/logo/png/logo32.png" sizes="32x32">
    <link rel="icon" href="../static/assets/img/logo/png/logo48.png" sizes="48x48">

    <link rel="stylesheet" href="../static/assets/css/normalize.css">
    <link rel="stylesheet" href="../static/assets/css/main.css">
    <link rel="stylesheet" href="../static/assets/css/style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="../static/assets/js/vendor/modernizr-3.8.0.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../static/assets/js/vendor/jquery-3.4.1.min.js"><\/script>')</script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
            integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
            crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/deb22f1091.js" crossorigin="anonymous"></script>

    <script src="../static/assets/js/plugins.js"></script>
    <script src="../static/assets/js/main.js"></script>

    <meta name="theme-color" content="#fafafa">
</head>

<body>
<!--================ Header =================-->
<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="">
        <img src="../static/assets/img/logo/png/logo48.png" width="50" height="50" class="d-inline-block align-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
            aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../static/index.html">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="merchandising.html">Merch</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../static/events.html">Eventos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../static/about_us.html">Sobre nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../static/contact.html">Contacto</a>
            </li>
            <li class="nav-item">
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="btn btn-primary" id="login_button" href="../static/login.html">Login</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary" id="register_button" href="../static/register.html">Registro</a>
            </li>
        </ul>
    </div>
</nav>

<br>
<br>

<!--================ End Header =================-->

<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#purchases" data-toggle="tab" class="nav-link">Purchases History</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">User Profile</h5>
                    <div class="row">
                        <div class="col-md-8">
                            <h6>First Name</h6>
                            <p>
                                Carrero
                            </p>
                            <h6>Last Name</h6>
                            <p>
                                Blanco
                            </p>
                            <h6>Email</h6>
                            <p>
                                ejemplo@gmail.com
                            </p>
                            <h6>Username</h6>
                            <p>
                                ejemplouser
                            </p>
                        </div>
                        <div class="col-md-12">
                            <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Event Activity</h5>
                            <table class="table table-sm table-hover table-striped">
                                <tbody>
                                <tr>
                                    <td>
                                        Joined ACME Project Team in <strong>'Tournament'</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Cancel participation in My Board1 in <strong>'Events'</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Deleted MyBoard3 in <strong>'Events'</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Joined My Board1 in <strong>'Tournament'</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Deleted his post Look at Why this is.. in <strong>'Tournament'</strong>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="tab-pane" id="purchases">
                    <div class="alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a> This is an <strong>.alert</strong>. Use this to show important messages to the user.
                    </div>
                    <table class="table table-hover table-striped">
                        <tbody>
                        <tr>
                            <td>
                                <span class="float-right font-weight-bold">3 hrs ago</span> Here is your a link to the latest summary report from the..
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="float-right font-weight-bold">Yesterday</span> There has been a request on your account since that was..
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="float-right font-weight-bold">9/10</span> Porttitor vitae ultrices quis, dapibus id dolor. Morbi venenatis lacinia rhoncus.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="float-right font-weight-bold">9/4</span> Vestibulum tincidunt ullamcorper eros eget luctus.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="float-right font-weight-bold">9/4</span> Maxamillion ais the fix for tibulum tincidunt ullamcorper eros.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="edit">
                    <form role="form">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">First name</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="Carrero">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="Blanco">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Email</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="email" value="ejemplo@gmail.com">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Username</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="ejemplouser">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Password</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" value="11111122333">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" value="11111122333">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Cancel">
                                <input type="button" class="btn btn-primary" value="Save Changes">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
            <h6 class="mt-2">Your photo</h6>
            <label class="btn custom-file">
                <input type="file" id="file" class="btn custom-file-input">
                <span type="submit" class="btn custom-file-control">Choose new photo</span>
            </label>
        </div>
    </div>
</div>

<!--================ Footer =================-->
<footer class="text-light bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img src="../static/assets/img/logo/png/logo_grande.png" width="150" height="150">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <form action="https://gmail.us4.list-manage.com/subscribe/post?u=cd10347d8ef1795b1334f9a0f&id=1ec05fee4a"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                      target="_blank" novalidate>
                    <div class="form-group">
                        <label for="emailNewsletter">Suscribete a nuestra newsletter</label>
                        <input type="email" name="EMAIL" class="form-control" id="emailNewsletter"
                               placeholder="Introduce tu email" required>
                    </div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cd10347d8ef1795b1334f9a0f_1ec05fee4a" tabindex="-1" value=""></div>
                    <div class="clear"><button type="submit" value="Subscribe" name="subscribe"
                                               class="btn btn-primary">Enviar</button></div>
                </form>
            </div>
            <div class="col-sm-4">
                <p class="text-center">Sobre nosotros</p>
            </div>
            <div class="col-sm-4">
                <p class="text-center">Contacto</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/itsdougthepug/?hl=es" target="_blank" rel="noopener noreferrer"><i
                                class="fab fa-instagram social_icons"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="https://twitter.com/lcdd_urjc" target="_blank"
                                                    rel="noopener noreferrer">
                        <i class="fab fa-twitter social_icons"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="https://discord.gg/yYDsMhw" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-discord social_icons"></i></a><i>
                    </li>
                    <li class="list-inline-item"><a href="mailto:lcddoficial@gmail.com" target="_blank"
                                                    rel="noopener noreferrer">
                        <i class="fas fa-envelope social_icons"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--================ End Footer =================-->

<br>
<br>

</body>
</html>